<h1>Post Form</h1>
<%= form_tag posts_path do %> <!--<form action="<%= posts_path %>" method="post">-->
<label >Post Title:</label ><br>
<%= text_field_tag :'post_title' %> <!--<input type="text" id="post_title" name="post[title]"><br> -->

<label>Post description:</label><br>
<%= text_area_tag :'post[description]' %> <!--<textarea type="text" id="post_description" name="post[description]"></textarea><br>-->

<!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">-->
<%= submit_tag "Submit Post" %> <!--<input type="submit" value="Submit Post">
</form>-->
<%end%>

